@import url('https://fonts.google.com/specimen/Roboto');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;

}
h1{
    font-size: 45px;
    line-height:65px; 
    color:black;
  text-align:center;
}
h2{
    font-size: 40px;
    line-height:60px; 
    color:black;
}
h4{
    font-size: 25px;
    color:rgb(21, 20, 20);
    font-family:fantasy;
}
h6{
    font-weight: 650;
    font-size: 15px;
   
}
p{
    font-size: 25px;
    color:rgb(31, 31, 31);
    margin: 15px 0 20px 0;
    font-family:Impact;
}
.section-p1{
    padding: 45px 80px;

}
.section-m1{
    margin: 40px 0;
}  
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 14px 30px;
    background-color: rgb(201, 204, 205);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    
}

body{
    width: 100%;
}
#header{
     display:flex;   
     align-items:center;;
     justify-content:space-between;
     padding:20px 80px;
     background-color: #d4c2c2;
     box-shadow: 0 5px 15px rgba(41, 45, 94, 0.784);
     position:sticky;
     top:0;
     left:0;



} 
#navbar{
    display:flex;
    align-items:center;
    justify-content:center;
    
}
#navbar li{
    list-style:none;
    padding: 0 20px;
    position: relative;

}
#navbar li a {
    text-decoration:none;
    font-size: 25px;
    font-weight: 600;
    color: black;
     
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(14, 140, 213);
} 
#navbar li a.active::after,
#navbar li a:hover::after{
    content:"";
    width: 30%;
    height:2px ;
    background-color:rgb(14, 140, 213) ;
    position:absolute;
    bottom: -4px;
    left: 20px;

}
#home{ 
    background-image:url(icon/banner.jpg);
    height: 90vh;g
    width: 100%;
    background-size:cover;
    background-position: top 25% right 70;
    padding:0 80px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
}
#home h4{
    padding-bottom: 15px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
#home h1{
    color: rgb(210, 210, 210);

}
#home button{
    background-color: rgb(66, 54, 54);
    border-color: black;;
    cursor: pointer;
    font-weight: 800;
    font-size: 30px;


}
#feature{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-wrap:  wrap;
}
#feature .fe-box{
    width:180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.03);
    border: 3px solid #cce7d0;
    border-radius: 10px;
    margin: 30px 40px;

}
#feature .fe-box:hover{
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.03);
}
#feature .fe-box h6{
    padding: 9px 8px 6px 8px; 
    line-height: 1;
    border-radius: 4px;
    color: rgb(0, 65, 43);
    background-color: #fddde4;

}
#feature1 {
    text-align: center;
}
#feature1 .pro-fit{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
}

#feature1 p{
    color: cadetblue;
    font-style: initial;
    font-size: 20px;
}
#feature1 .pro{
    /* width: 23%; 
     min-width:250px;   */
     /* padding: 10px 12px;   */
    border: 3px solid #f2f2f2;
    border-radius: 10px;
    cursor:pointer;
    box-shadow: 20px 20px  rgba(0, 0, 0, 0.03);
    background-color: #FFF5E0;
    margin: 15px;
   

    
 
}
#feature1 .pro:hover{
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.02);
}

#feature1 .pro img{
    border-radius: 10px;


}
#feature1 .pro .des{
    text-align:center;
}
#feature1 .pro .des span{
    font-size: 20px;
   
}
#feature1 .pro .des h4{
    padding-top: 7px;
    font-weight: bold;
    font-size: 25px;
    color:#FFA33C;
}
#feature1 .shop{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: rgb(162, 181, 198);
    border: 1px solid #cce7d0;
   
}
#banner{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    text-align:center;
    background-image: url(icon/precau.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}
#banner.pre{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    text-align:center;
    background-image: url(icon/precau.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}








#in-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
}
#in-banner .banner-box{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    background-image: url(icon/flood.jpeg);
    min-width: 580px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 70px 10px;


}
#in-banner .banner-box2{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    background-image: url(icon/corona.jpg);
    min-width: 580px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 30px;


}




#in-banner h4{
    color: #0a0a0a;
    font-size: 35px;
    font-weight: 500;
   
}
#in-banner h2{
    color: #c3d633;
    font-size: 28px;
    font-weight: 800;
} 
#in-banner span{
    color: #232321;
    font-size: 23px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;\

}
#in-banner button{
    font-size:18px ;
    font-style:normal;                          
}
#in-banner .banner-box:hover button{
    background-color: #24494a;
    color: #de8b16;
    border: 2px solid;
    
}    
#newspad{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center;
    background-image: url(icon/black.jpeg);
    background-position:center;
    background-size: cover;
}
#newspad h4{
    color:#ec3737;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
#newspad p{
    color: #0ab6bc;
    font-style: italic;
    font-size: large
   
}
#newspad span{
    color:#e5e907;
    font-size: 20px;
    font-weight: 900;
}
#newspad input{
    width: 100%;
    height: 3rem;
    padding: m 1.25rem;
    font-size: 14px;
    border: 2px solid  transparent;
    border-radius: 4px;
    outline: none;
}
#newspad button{
    background-color: #29ADB2;
    color: #cce7d0;
    white-space: nowrap;


}
#newspad .form{
    display: flex;
    width: 40%;

}
footer{
    display: flex;
    background-color: #D4C2C2;
    justify-content: space-between;
    flex-wrap: wrap;
   

}
footer .col{
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 20px;

}
#page-header{
    background-image: url(shop/bl.jpeg);
    width: 100%;
    height: 30vh;
    background-size:cover;
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
padding: 14px;


   
}
#page-header h2{
    color: #ffffff;
    
}
#prodetails{
    display: flex;
margin-top: 20px;
}
.smallimggrp{
    display: flex;
    justify-content: space-between;
}
.smallimgcol{
    flex-basis: 24%;
    cursor: pointer;
    padding-top: 40px;

}
#prodetails .singleimage{
    width: 40%;
    margin-right: 50px;
}
  
#prodetails .singleprodetails{
    width:50% ;
    padding-top: 35px;
}
#prodetails .singleprodetails h4{
    padding:  40px 0 20px 0 ;

}


#prodetails .singleprodetails h2{
    font-size: 20px;
}

#prodetails .singleprodetails select{
display: block;
 padding: 10px 10px;
 margin-bottom: 10px;

}
#prodetails .singleprodetails input{
    width: 50px;
    height: 45px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;


}
#prodetails .singleprodetails button{
    color: #596b6b;
    background-color: #91e4e7;

}
#prodetails .singleprodetails span{
    line-height: 25px;
    font-weight: bold;
    color: #212a2a;

}
#page-header.about-header{
    background-image: url(j/abt.jpg);
}

#page-header h2{
    color:#3f4005;
}
#page-header p{
    color: #052c2c;
    font-size: 30px;
}
.video{
    width:100%;
    height:min-content;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position:relative;
    padding: 0 5%;
    display:flex;
    align-items: center;
    justify-content:center;
}
#page-contact.about-map{
    background-image: url(shop/cont.jpeg);
    width: 100%;
    height: 30vh;
    background-size:cover;
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
padding: 14px;
    }
#page-contact.about-map h2{
    color: #f0bb2b;
}
#page-contact.about-map p{
    color: #232220;
    font-size: large;
}
    
    
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span
#form-details form span{
    font-size:12px ;
    padding: 20px;

}
#contact-details .details h2
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 30px;
}
#contact-details .details h3{
    font-size: 25px;
    padding-bottom: 15px;
  
}
#contact-details .details li{
list-style: circle;
display: flex;
padding: 10px 0;
}
#contact-details .details li p{
    color: #aa701f;
font-size:larger;
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input,textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 4px solid #0295da;

}
#form-details form button,
#subtotal button{
    background:#0295da;
    color: #cce7d0;
   
}




 


.searchBox {
    display: flex;
    max-width: 230px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
  }
  
  .searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }
  
  
  
  
  
  /*hover effect*/
  button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(235, 6, 6, 0.842) 0 10px 20px;
    transform: translateY(-3px);
  }
  /*button pressing effect*/
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    scroll-padding-bottom: auto;

    
  }
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;

  }
  
  .card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
  }
  
  .card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .twitter {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
  }
  
  .card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .github {
    margin-top: -.6em;
    margin-left: 1.2em;
  }
  
  .card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #344ddb;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
  }
  
  .card1:hover .instagram {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
  }
  
  .card2:hover .twitter {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
  }
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #455de4;
  }
  
  .card4:hover .discord {
    fill: white;
  }
  

 



  
  .card-title {
    color: #262626;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  
  .small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
  }
  
  .small-desc {
    font-size: 1em;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card {
    display: block;
    position: relative;
    max-width: 3000px;
    max-height: 2000px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
    font-family: Arial, Helvetica, sans-serif;
  }
  




  .walletBalanceCard {
    width: fit-content;
    height: 25px;
    background-color: #1c1f2f;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 30px 0px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .svgwrapper {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .svgwrapper svg {
    width: 100%;
    padding-right: 1px;
  }
  .balancewrapper {
    display: flex;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100px;
    gap: 2px;
  }
  .balanceHeading {
    font-size: 8px;
    color: rgb(214, 214, 214);
    font-weight: 100;
    letter-spacing: 0.6px;
  }
  .balance {
    font-size: 15px;
    color: white;
    font-weight: 400;
    letter-spacing: 0.8px;
  }
  
  .addmoney {
    padding: 20px 35px;
    border-radius: 50px;
    background-color: #c083eb;
    color: white;
    border: none;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .addmoney:hover {
    background-color: whitesmoke;
    color: #9c59cc;
  }
  .plussign {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
  .card:hover:before {
    transform: scale(28);
  }
  
  .card:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }
  